__pycache__/
*.pyc
.venv/
codes/checkpoints_*/
*.pkl
latex_draft/*.aux
latex_draft/*.log
latex_draft/*.out
latex_draft/*.spl
latex_draft/main.pdf
latex_draft/supplementary.pdf
latex_draft/cover_letter.pdf
latex_draft/response_letter.pdf
latex_draft/figures/*.jpg
latex_draft/figures/*.pdf
latex_draft/figures/*.npz
codes/*.log
codes/expert_datasets/*.npz
results/
.DS_Store
